<!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Search</h1>
        <p>
        
       <table id="result-table">
  <tr>
    <th>Krankheit</th>
    <th>Bewertungsrelation</th>

  </tr>
  <tr>
    <td>Schnupfen</td>
    <td>42</td>

  </tr>
  <tr>
    <td>Morbus Crohn</td>
    <td>856</td>

  </tr>
  <tr>
    <td>Amyotrophe Lateralsklerose</td>
    <td>54322</td>
  </tr>
</table>
</p>
        <p>
          <a class="btn btn-lg btn-primary" href="#">Zur Übersicht</a>
        </p>
      </div>