<!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron" ng-controller="compController">
     
      <div class="head">
      </div>
      <h2>Was ham se' denn?</h2>
      <table class="table">
      <tr>
		<td><h1>{{cat1}}</h1></td>
		<td><h1>{{cat2}}</h1></td>
		<td><h1>{{cat3}}</h1></td>
		<td><h1>{{cat4}}</h1></td>
		<td><h1>{{cat5}}</h1></td>
      </tr>
      </table>
      </div>
        <p>
          <a class="btn btn-lg btn-primary" href="#">Zur Übersicht</a>
        </p>
      </div>