 <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
     
      <div class="head" > 
      <img src="logo.jpg" style="float:left; margin-right:50px;" height="400px">
      <p>
      
    2005 wurde die Abrechnung von station&amp;auml;ren Leistungen nach der Fallpauschale verbindlich eingef&amp;uuml;hrt. Sie wurde allerdings erst Ende 2009 endg&amp;uuml;ltig wirksam.

<span class="bold">Aber was ist die Fallpauschale?</span>   <br>

Eine Fallpauschale ist eine Verg&amp;uuml;tung, die die Leistungen der Krankenh&amp;auml;user pauschal je nach Krankheit und durchgef&amp;uuml;hrter Behandlung (je nach Fall) abrechnet . Dabei werden auch unterschiedliche Schweregrade einer Erkrankung ber&amp;uuml;cksichtigt. Dazu wird eine obere und untere Grenzverweildauer festgelegt, die aus der durchschnittlichen Verweildauer der Patienten resultiert. Wird die obere Grenzverweildauer &amp;uuml;berschritten, bekommt das Krankenhaus tagesbezogene Zuschl&amp;auml;ge. Wird die untere Grenzverweildauer unterschritten, gibt es Abschl&amp;auml;ge.

Die Fallpauschalen werden als Bewertungsrelationen angegeben, die sich nach den durchschnittlichen Kosten errechnen.  Bewertungsrelationen, die kleiner sind als 1 liegen dabei unter dem Durchschnitt; Bewertungsrelationen gr&amp;ouml;&amp;szlig;er als 1 liegen &amp;uuml;ber ihm.

Die Fallpauschalen k&amp;ouml;nnen im Fallpauschalenkatalog eingesehen werden. Relevant f&amp;uuml;r diesen Katalog sind dabei nur Behandlungsf&amp;auml;lle, die mehr als 30-mal pro Jahr gemeldet werden. <br> <br>

 

<span class="bold">
Warum wurde sie eingef&amp;uuml;hrt?</span>  

Vor der Einf&amp;uuml;hrung der Fallpauschalen rechneten Kliniken tageweise ab. Das f&amp;uuml;hrte zu unn&amp;ouml;tig hohen Liegezeiten in vielen Kliniken. Durch die Abrechnung nach Fallpauschalen erh&amp;ouml;ht der Anreiz f&amp;uuml;r Krankenh&amp;auml;user wirtschaftlich zu arbeiten. Au&amp;szlig;erdem soll dadurch die Transparenz &amp;uuml;ber die Art und Anzahl der erbrachten Leistungen steigen.

Des Weiteren resultieren daraus Strukturver&amp;auml;nderungen im Krankenhaus, die auch die Versorgungsqualit&amp;auml;t verbessern.      <br> <br>

 

<span class="bold">Gibt es neue Probleme?</span>  

Es gibt Kritiker, die f&amp;uuml;rchten, Kliniken w&amp;uuml;rden sich nun vor allem um lukrative Krankheiten k&amp;uuml;mmern, die Behandlung von Patienten mit weniger lukrativen Krankheiten w&amp;uuml;rde leiden und sie w&amp;uuml;rden zu fr&amp;uuml;h entlassen werden. Einige von ihnen f&amp;uuml;rchten auch, die &amp;Auml;rzte w&amp;uuml;rden sich nun eher f&amp;uuml;r die lukrativere Behandlung entscheiden, auch wenn diese nicht unbedingt n&amp;ouml;tig ist.

Die Fallpauschalen ber&amp;uuml;cksichtigen kr&amp;auml;nkere Patienten und die f&amp;uuml;r diese n&amp;ouml;tige Hochleistungsmedizin nicht immer. Au&amp;szlig;erdem wird der &amp;Ouml;konomisierungsausdruck in Kliniken versch&amp;auml;rft.

 Zus&amp;auml;tzlich sind die vorgesehenen Zuschl&amp;auml;ge f&amp;uuml;r atypische Extremf&amp;auml;lle (die F&amp;auml;lle, die weniger als 30-mal pro Jahr gemeldet werden) zu niedrig um die Kosten zu decken, die den Krankenh&amp;auml;usern durch
      
      
      </p>
      
      		</div>
		
  


</div>