<!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron" ng-controller="compController">
     
      <div class="head">
      </div>
      <h2>dumos</h2>
      <h1>Was ham se' denn?</h1>
	<br>
      <table id="table" class="table">
      <tr>
		<td><div class="cat"><button type="button" id="bt1" class="btn btn-info">R&uuml;cken</button></div></td>
		<td><div class="cat"><button type="button" id="bt2" class="btn btn-info">H&uuml;fte</button></div></td>
		<td><div class="cat"><button type="button" id="bt3" class="btn btn-info">Knie</button></div></td>
		<td><div class="cat"><button type="button" id="bt4" class="btn btn-info">Herz</button></div></td>
		<td><div class="cat"><button type="button" id="bt5" class="btn btn-info">Neugeborenes</button></div></td>
      </tr>
      </table>

</div>