
<div class="row" ng-controller="elementController">
<div class="col-xs-12 col-md-2 leftnav">
<ul class="nav nav-pills nav-stacked">
	<span class="leftnav">Ergebnisse Filtern</span>
	<br>
	<input type="radio" id="element1" value=50 name="elements" ng-model="listOptions.limit" class="css-checkbox" ><label for="mc" class="css-label"> 50 Elemente anzeigen</label><br> 
	<input type="radio" id="element2" value=100 name="elements" ng-model="listOptions.limit" class="css-checkbox" ><label for="mc" class="css-label"> 100 Elemte anzeigen</label><br> 
	<input type="radio" id="element3" value=500 name="elements" ng-model="listOptions.limit" class="css-checkbox" ><label for="mc" class="css-label"> 500 Elemte anzeigen</label><br> 
	<input type="radio" id="element4" value={{maxentries}} name="elements" ng-model="listOptions.limit" class="css-checkbox" ><label for="mc" class="css-label"> Alle Elemente anzeigen ({{maxentries}})</label><br>
	
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</ul>



</div>
<div class="col-xs-12 col-md-10">

<div class="jumbotron">
<ng-include src="'partials/table.html'"></ng-include>
</div>
</div>
</div>
