
<div class="row">
<div class="col-xs-12 col-md-2 leftnav">
<ul class="nav nav-pills nav-stacked">
	<span class="leftnav">Ergebnisse Filtern</span>
	<br>
	<input type="radio" id="element1" name="elements" value="1" ng-click="radio1()"><label for="mc"> 50 Elemente anzeigen</label><br> 
	<input type="radio" id="element2" name="elements" value="2"ng-click="radio1()"><label for="mc"> 100 Elemte anzeigen</label><br> 
	<input type="radio" id="element3" name="elements" value="3"ng-click="radio1()"><label for="mc"> 500 Elemte anzeigen</label><br> 
	
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</ul>



</div>
<div class="col-xs-12 col-md-10">

<div class="jumbotron">
  <div ng-controller="listController">
<h2>{{search.term}}</h2>
	<table class="table-bordered table">
    <tr><th>Umsatz Krankenhaus<span ng-click="changeOrder('relation')" class="glyphicon glyphicon-arrow-down"></span></th><th>Krankheit <span ng-click="changeOrder('name')" class="glyphicon glyphicon-arrow-up"></span></th></tr>
<tr id="sort" ng-repeat="entry in entries | filter:search.term  |  orderBy : orderVar : reverse">
<td>{{entry.relation | number}} €</td>
<td>{{entry.name}}</td>


</tr>




</table>
  </div>
</div>
</div>
</div>
