.hover { cursor: pointer;
color: white;
} 

body{
background: url('http://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Operating_room_anesthetic_station.jpg/2048px-Operating_room_anesthetic_station.jpg?uselang=de') fixed;
}


.btn-primary{
	background-color: #3E518B;
	border-color: #3E518B;
}

#mid{
	margin-top: 3px;
}

#bt1, #bt2, #bt3, #bt4, #bt5{
		font-size: 20px;
		width: 200px;
	}
	
#table {
	padding-top: 20px;
	}
	
	hl{
		margin-bottom: 20px;
    
		}
    
    h1#h1{
    font-family: 'Coming Soon', cursive;
    }
    
    h2#h2{
    font-family: 'Coming Soon', cursive;
    }
    
    
    
    #logo{
        float: left;
        height: 50px;
    }
		



    input[type=radio].css-checkbox {
						float: left;
             margin: 10px 10px 10px 0;

						}

						label.css-label {
      width: 100px;
      margin: 5px 0;
			}
      
      
      .float-right{
      float: right;
      }
      
      
      button.btn-info{
          font-weight: 700;
          font-size: 20px;
      }
      
      
      
    th{
      background-color:  #4896D6;
    
      
    }
    
    td{
        background-color: #C0C7CC;
     
    }
    
    td.left{
     text-align: right;
    }
	
	div.jumbotron{
		background-color: rgba(238,238,238,0.8);
		}
    
    
    
    
    span.bold{
        font-style: bold;
    }
div.visualisierung {		
width: 1000px;
height: 300px;
padding-top : 50px;
padding-bottom : 50px;
	}