.hover { cursor: pointer;
color: #4C55AB;
} 

body{
background: url(../background.jpg) repeat;
}


.btn-primary{
	background-color: #3E518B;
	border-color: #3E518B;
}

#mid{
	margin-top: 3px;
}

#bt1, #bt2, #bt3, #bt4, #bt5{
		font-size: 20px;
		width: 200px;
	}
	
#table {
	padding-top: 20px;
	}
	
	hl{
		margin-bottom: 20px;
		}
		
